<div class="seller-auth">

    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller SignUp Form</h1>
        <form #sellerSignupForm="ngForm" (ngSubmit)="signUp(sellerSignupForm.value)" class="common-form">
            <input class="form-input" type="text" name="name" ngModel placeholder="Enter Name">
            <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email">
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter password">
            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have an account? <u>Click here</u> </a>
        </form>
    </div>

    <!-- Login form for seller -->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login Form</h1>
        <p class="Error-msg">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email">
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter password">
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignup()">Don't have an account<u>Click here for signUp</u> </a>
        </form>
    </div>

</div>